<p>Thanks <%= fries %> for submitting your e-mail which is <%= burger %></p>

<h4>list</h4>
<ul>
	<% CONTACTS.each_with_index do |milkshake, cherry| %>
		<li><%= milkshake %> - <%= cherry + 1 %> </li>
	<% end %>
</ul>

<%= CONTACTS %>
